body {
  background-color: #fefefe;
  padding-right: 0 !important;
}
html{ overflow-y: scroll; overflow-x: auto; }

.title {
    text-align: center;
}

.logos_list {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.list_object {
    margin-top: 2px;
}

.channel-row-diff {
    color: #0066ff;
}

footer {
  width: 80%;
  margin-left: 10%;
}
.logo {
  height: 100%;
  max-width: 50%;
  max-height: 32px;
}

.logo_program {
  height: 100%;
  max-width: 50%;
  max-height: 64px;
}
.sort-label {
  color: rgba(0,0,0,.5);
}
.before {
  color: grey;
}
.before a {
  color: grey;
}
.before a:hover {
  color: grey;
}
.current {
  font-weight: bold;
  color: #0066ff;
}
.current a {
  color: #0066ff;
}
.current a:hover {
  color: #0066ff;
}
.after a {
  color: #212529;
}
.after a:hover {
  color: #212529;
}
.channel_title {
  color: #212529;
}
.channel_title a {
  color: #212529;
}
.channel_title a:hover {
  color: #212529;
}
.sidebar{
       position:fixed;
       height:100%;
}
.channel_item, .program {
  margin-top: 30px;
}
.mixitup-control-active {
  font-style: italic;
  font-weight: bold;
}
#fav {
  cursor: pointer;
}
.favour_image {
  height: 100%;
  max-width: 50%;
  max-height: 24px;
  cursor: pointer;
}

.favour_image_no_favour {
  height: 100%;
  max-width: 50%;
  max-height: 24px;
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
    background:#fff3c2 !important;
    color: #212529;
    border: #444 1px solid;
    }

    .tooltip .arrow:before {
    border-bottom-color:#444 !important;
     border-top-color:#444 !important;
     }

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f062";
  font-family: Font Awesome\ 5 Pro;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .navbar-container {
    position: sticky !important;
    top: 0;
    overflow-y: auto;
    height: 100vh;
  }
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .navbar-container .navbar-collapse {
    align-items: flex-start;
  }
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {
    flex-direction: column !important;
  }

}
@media (max-width: 768px) {
    .rank_circle {
        padding-left: 2px;
    }
}
.message {
  text-align: center;
}
.decription {
    padding-top: 10px;
    text-align: justify;
}
.program_name {
    font-size: 18px;
}
.rank_category, .popular {
    margin-top: 15px;
}
.rank_link {
    color: black;
}
.rank_link:hover {
    color: black;
}
.controls {
    display: flex;
    flex-direction: row;
    margin: 0 -5px;
    align-items: center;
}
.control_item {
    flex: 1 1 auto;
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 0 5px 5px;
}
.black_link, .black_link:hover {
    color: black;
}
@media (max-width : 768px)
{
    .tooltip {
        display: none !important;
    }
}

